body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

h1 {
    color: #e63946;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}
